/* sen-regular - latin */
/* sen-regular - latin */
/* sen-regular - latin */
@font-face {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/sen-v2-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/sen-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/sen-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/sen-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/sen-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/sen-v2-latin-regular.svg#Sen') format('svg'); /* Legacy iOS */
}
/* sen-700 - latin */
@font-face {
font-family: 'Sen';
font-style: normal;
font-weight: 700;
src: url('../fonts/sen-v2-latin-700.eot'); /* IE9 Compat Modes */
src: local(''),
        url('../fonts/sen-v2-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/sen-v2-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/sen-v2-latin-700.woff') format('woff'), /* Modern Browsers */
        url('../fonts/sen-v2-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/sen-v2-latin-700.svg#Sen') format('svg'); /* Legacy iOS */
}

@mixin bold {
    font-family: 'Sen', serif;
    font-weight: 700;
}

@mixin regular {
    font-family: 'Sen', serif;
    font-weight: 400;
}
